.footer {
    background: rgb(27, 45, 136);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
    padding: 10px;
    min-width: 200px;
  }
  
  .footer-logo {
    height: 40px;
  }
  
  .footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 5px;
  }
  
  .footer-text {
    margin-top: 20px;
    font-size: 12px;
  }
  